@model IEnumerable<Activites_TP.Models.Activite>

@{
    ViewData["Title"] = "Activité";
}

<h1>Activités</h1>

<p>
    <a asp-action="Create">Nouvelle activité</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_activite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom_activite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_vote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_activite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_activite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_vote)
            </td>
            <td>
                
                @Html.ActionLink("Details", "Details", new { id=item.Id_activite}) 
              
            </td>
        </tr>
}
    </tbody>
</table>
