@model IEnumerable<Activites_TP.Models.Participant>

@{
    ViewData["Title"] = "Index";
}

<h1>Les participants aux activités</h1>

<p>
    <a asp-action="Create">Choisir une activité</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nom_participant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresse_participant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_activite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_participant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse_participant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_activite)
            </td>
            <td>
              
                @Html.ActionLink("Details", "Details", new {  id=item.id }) 
               
            </td>
        </tr>
}
    </tbody>
</table>
